body {
  width: 60%;
  border: 1px solid gray;
  margin: auto;
  margin-top: 100px;
}

header {
  height: 50px;
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(59, 58, 58);
  border-bottom: 1px solid gray;
  padding: 5px;
}

i {
  color: rgb(196, 196, 196);
}

header i {
  padding: 10px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  height: 10px;
}

section div {
  display: flex;
  align-items: center;
  padding: 10px;
}

#todo-list {
  padding: 0;
}

.list-info {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.edited {
  background-color: rgb(245, 215, 177);
}

.list-info input {
  margin-right: 10px;
}

.text {
  background-color: transparent;
  outline: none;
  border: none;
}

.checked .text {
  text-decoration: line-through;
}

.text:focus {
  font-weight: 700;
}

#rm {
  display: none;
}

button {
  padding: 5px;
  width: 100%;
  color: gray;
  background-color: rgb(228, 228, 228);
  height: 40px;
  border: none;
}
